<div class="mt-3">
<h2>Nova Categoria</h2>
<div class="card">
    <div class="body-card">
        <form action="/admin/categorias/nova" method="post">
            <label for="nome"> Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="nome da categoria" class="form-control" required>
            <label for="slug"> Slug:</label>
            <input type="text" id="slug" name="slug" placeholder="Slug de categoria" class="form-control" required>
            <button type="submit" class="btn btn-success">Criar categoria</button><br>
        </form>

    </div>
</div>
</div>